<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= @genre.name %></title>
  </head>
  <body>
    <h1><%= @genre.name %></h1>
    <h2>Songs</h2>
      <%= @song_genre.get_songs_from_genre %>
    <h2>Artists</h2>
  </body>
</html>
